groups:
  - name: ml_service_recording_rules
    interval: 15s
    rules:
      # Средняя длительность запросов за 5 минут
      - record: job:http_request_duration_seconds:avg_rate5m
        expr: rate(http_request_duration_seconds_sum[5m]) / rate(http_request_duration_seconds_count[5m])

      # 95-й перцентиль длительности запросов
      - record: job:http_request_duration_seconds:95th_rate5m
        expr: histogram_quantile(0.95, rate(http_request_duration_seconds_bucket[5m]))

      # Кол-во запросов по кодам ответа
      - record: job:http_requests_total:rate5m_by_status
        expr: sum by (status_code) (rate(http_requests_total[5m]))

      # Общая RPS
      - record: job:http_requests_total:rate5m
        expr: sum(rate(http_requests_total[5m]))

